{% extends 'base.html' %}
{% block content %}
<div class="card auth-box" style="max-width: 600px;">
    <h2 style="text-align: center;">Оформление заявки на обучение</h2>
    <form method="POST">
        {% csrf_token %}

        <label class="form-label">Выберите вид транспорта</label>
        {{ form.transport_type }}
        {% if form.transport_type.errors %}<span class="error">{{ form.transport_type.errors.0 }}</span>{% endif %}

        <label class="form-label">Предпочтительная дата начала</label>
        <input type="text" name="start_date" placeholder="ДД.ММ.ГГГГ" required class="date-mask">
        {% if form.start_date.errors %}<span class="error">{{ form.start_date.errors.0 }}</span>{% endif %}

        <label class="form-label">Способ оплаты курса</label>
        {{ form.payment_method }}
        <p class="subtext" style="margin-top: -10px; margin-bottom: 15px;">Доступны: QR-код, карта МИР, оплата в офисе</p>
        {% if form.payment_method.errors %}<span class="error">{{ form.payment_method.errors.0 }}</span>{% endif %}

        <button type="submit">Оформить заявку</button>
    </form>
</div>
{% endblock %}